# ##########################################################################
#                                 SBT files
# ##########################################################################
target
/project/project
/*/project/project

# ##########################################################################
#                               Eclipse files
# ##########################################################################
.classpath
.project
.cache
.cache-*
.settings
.worksheet

# ##########################################################################
#                               IntelliJ files
# ##########################################################################
.idea*
*.iml

# ##########################################################################
#                                 Vim files
# ##########################################################################
*.sw[a-z]

# ##########################################################################
#                                 Misc files
# ##########################################################################

# OS X directory data
.DS_Store

# Log files
*.log

# Java compiled
*.jar
*.class

# Intentionally ignored code
*.scala.old
/*.script
